<div class="container-fluid">
	<div style="padding-left: 2%; padding-right: 3%">
		<h2 style="margin-top: 2%; margin-bottom: 2%">Dashboard</h2>




		<div class="row">

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
				<div class="card">
				  <div class="card-body">
				    <a href="/events/education"><h5 class="card-title">Academic Events</h5></a>
				    <p class="card-text">Academic events include lectures, presentations by students and staff, as well as seminars by guest speakers.</p>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
				<div class="card">
				  <div class="card-body">
				    <a href="/events/sport"><h5 class="card-title">Sports Events</h5></a>
				    <p class="card-text">Come show your school teams some support!</p>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
				<div class="card">
				  <div class="card-body">
				    <a href="/events/other"><h5 class="card-title">Other Events</h5></a>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">Upcoming Events</h5>
				    <h6 class="card-text">
				    	<% i = 1 %>
				    	<% @event.order("created_at DESC" ).limit(10).each do |event| %>
				    		<a href="/events/<%= event.id %>" class="btn btn-outline btn-sm" role="button" aria-pressed="true">
				    			<%= i.to_s %>. <%= event.title %> 
				    		</a>
				    		<br />
				    		<% i += 1 %>
				    	<% end %>
				    </h6>
				    <a href="events" class="btn btn-info btn-sm mt-2 mb-1">All events</a>
				    <br />
				    <a href="events/new" class="btn btn-info btn-sm">Host an event</a>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">Redeemable Points</h5>
				    <h5><strong><%= current_user.point %></strong></h5>
				    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				    <a href="/redeem" class="btn btn-info animated infinite tada delay-2s mt-2" style="margin-left: 2%">Redeem now!</a>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card">
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">Staff Review</h5></a>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">Top 10</h5>
				    <div class="card-text">
				    	<% i = 1 %>
				    	<% @user.order("point DESC" ).limit(10).each do |user| %>
				    		<a href="/users/<%= user.id %>" class="btn btn-outline btn-sm" role="button" aria-pressed="true">
				    			<%= i.to_s %>. <%= user.first_name %> <%= user.last_name %> |  <%= user.point%> points
				    		</a>
				    		<br />
				    		<% i += 1 %>
				    	<% end %>
				    <a href="#" class="btn btn-info btn-sm">Rank List</a>
				  </div>
				</div>
			</div>

		</div>

	</div>
</div>


