<body style="background-image: url(http://cpml.com.au/wp-content/uploads/2016/04/CPML-background21.jpg);">
<div class="container-fluid" >
	<div style="padding-left: 2%; padding-right: 3%">
		<h2 style="margin-top: 2%; margin-bottom: 2%">Dashboard</h2>

		<div class="row">

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
				<div class="card shadow-lg" style="background-color: #ffffff99">
				<%= image_tag "education.jpg", class: "card-img-top", height: "300" %>
				  <div class="card-body">

				    <a href="/events/education"><h5 class="card-title text-dark">Academic Events</h5></a>
				    <p class="card-text">Lectures, presentations and all events related to academics.</p>

				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4" >
				<div class="card shadow-lg" style="background-color: #ffffff99">
				<%= image_tag "sportsss.jpg", class: "card-img-top", height: "300" %>
				  <div class="card-body">

				    <a href="/events/sport"><h5 class="card-title text-dark">Sports Events</h5></a>
				    <p class="card-text">Show some school spirit and support your school teams!</p>

				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
				<div class="card shadow-lg" style="background-color: #ffffff99">
				<%= image_tag "art.jpg", class: "card-img-top", height: "300" %>
				  <div class="card-body">
				    <a href="/events/other"><h5 class="card-title text-dark">Other Events</h5></a>
				    <p class="card-text mb-4">Art. Food. Music.</p>
				  </div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card shadow-lg" style="background-color: #ffffff99">
				  <div class="card-body">
				    <h5 class="card-title">Upcoming Events</h5>
				    <div class="card-text mt-3">
				    	<% i = 1 %>
				    	<% @event.order(event_date: :desc, start_time: :desc).limit(10).each do |event| %>
					    	<h6>
					    		<%= i.to_s %>.
					    		<a href="/events/<%= event.id %>" class="card-title text-dark">
					    			 <%= event.title %> 
					    		</a>
					    	</h6>
				    		<% i += 1 %>
				    	<% end %>
				    </div>
				    <a href="events" class="btn btn-info btn-sm mt-2 mb-1">All events</a>
				    <br />
				    <a href="events/new" class="btn btn-info btn-sm">Host an event</a>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card shadow-lg" style="background-color: #ffffff99">
				  <div class="card-body">
				    <h5 class="card-title">Redeemable Points</h5>
				    <h5><strong><%= current_user.point %></strong></h5>
				    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
				    <a href="/redeem" class="btn btn-info animated infinite tada delay-2s mt-2" style="margin-left: 2%">Redeem now!</a>
				  </div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card shadow-lg" style="background-color: #ffffff99">
				  <div class="card-body">
				     <h5 class="card-title">Top 5 Rated Events</h5></a>
				     <div class="card-text">
				     <p class="card-text">Check out the top ten events voted by you!</p>
				     <% i = 1 %>
				    	<% @top_events.each do |event| %>
				    		<%= i.to_s %>.
				    		<a href="/events/<%= event.id %>" class="card-title text-dark">
				    			<%= event.title %>
				    		</a>
				    		<div class="mb-3 ml-2">
								<% average_rate = event.average_rating %>
								<% average_rate.times do |i| %>
									<%= image_tag "stars.png", width:"30", height:"30" %>
								<% end %>
					    	<br />
				    		</div>
				    		<% i += 1 %>
				    	<% end %>
				  </div>
				</div>
			</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<div class="card shadow-lg" style="background-color: #ffffff99">
				  <div class="card-body">
				    <h5 class="card-title">Top 10 Students</h5>
				    <div class="card-text mt-3">
				    	<% i = 1 %>
				    	<% @user.order("point DESC").limit(10).each do |user| %>
				    		<h6>
					    		<%= i.to_s %>. 
					    		<a href="/users/<%= user.id %>" class="card-title text-dark">
					    			<%= user.first_name %> <%= user.last_name %> • <%= user.point%> points
					    		</a>
				    		</h6>
				    		<% i += 1 %>
				    	<% end %>
				  </div>
				</div>
			</div>

		</div>

	</div>
</div>
</body>
