<div class="container mt-3">
	<div class="row">
		<div class="col-md-8 text-justify">
			<p class="text-capitalize"><strong>Full Name: </strong><%= @user.first_name + " " + @user.last_name %></p>
			<p><strong>Email: </strong><%= @user.email %></p>
			<p><strong>Role: </strong><%= @user.role %></p>
			<% if @user.role == "student" %>
				<p><strong>Total Points: <%= @user.point %></strong></p>
				<p><strong>Level: <%= @user.level %></strong></p>
			<% else %>
				<p><strong>Rating: </strong></p>
			<% end %>
		</div>
	</div>

	<div>
		<h5>Your events: </h5>
		<% @user.events.each do |event| %>
			<%= event.title %> <br />
		<% end %>
	</div>
</div>

