<div class="container-fluid mb-5" style="background-color: #fff">

	<div class="container" style="margin-top: 2%;">

		<h2>Update event</h2>

		<h4 class="mt-3"><strong>Category: </strong><%= @event.category %></h4>

		<%= form_with(model: @event, local: true) do |form| %>
			<div class="mt-3">
				<h4><%= form.label :date %>:</h4>
				<%= form.text_field :event_date, :required => true %>
			</div>

			<div class="mt-3">
				<h4><%= form.label :start_time %>:</h4>
				<%= form.text_field :start_time, type: "time",id: "appt-time", min: "8:00", max: "20:00", :required => true %>
			</div>

			<div class="mt-3">
				<h4><%= form.label :end_time %>:</h4>
				<%= form.text_field :end_time, type: "time",id: "appt-time", min: "9:00", max: "21:00", :required => true %>
			</div>

			<div class="mt-3">
				<h4><%= form.label :venue %>:</h4>
				<%= form.text_field :venue, :required => true %>
			</div>

			<div class="mt-3">
				<h4><%= form.label :description %>:</h4>
				<%= form.text_area :description, :required => true %>
			</div>

			<div class="pt-2 mt-4">
				<%= form.submit :class => "btn btn-info" %>
				<%= link_to 'Back', events_path, :class => "pl-2", :class => "btn btn-info" %>
			</div>
		<% end %>	

	</div>

</div>