<div class="container-fluid mb-4" style="background-color: #fff">
	<div style="padding-left: 2%; padding-right: 3%">

		<h2 style="margin-top: 2%; margin-bottom: 2%">
			All Events
			<% if signed_in? %>
				<%= link_to 'Create new event', new_event_path, :class => "btn btn-info ml-2" %>
			<% end %>
		</h2>

		<div class="row">
			<% @event.order(updated_at: :desc).each do |event| %>
				<div class="col-3">
					<div class="card mb-4">
						<div class="card-body">
							<p><strong>Title: </strong><%= event.title %></p>
							<p class="text-capitalize"><strong>Date: </strong><%= event.category %></p>
							<p><strong>Date: </strong><%= event.event_date %></p>
							<p><strong>Time: </strong><%= event.start_time %> to <%= event.end_time %></p>

							<%= link_to 'More details', event_path(event), :class => "btn btn-info mb-1" %>

							<% if current_user != nil %>
								<% if event.user_id == current_user.id %>
									<br />
									<%= link_to 'Update', edit_event_path(event), :class => "btn btn-info mb-1" %> <br />
									<%= link_to 'Delete', event_path(event), :class => "btn btn-info", method: :delete, data: {confirm: 'Are you sure?'} %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>

