<div class="col-md-4 mt-3">
	<h4 class="text-capitalize">Title: <%= @event.title %></h4>
</div>

<div class="col-md-4 mt-3">
	<h5 class="text-capitalize">Category: <%= @event.category %></h5>
</div>

<div class="col-md-4 mt-3">
	<h5 class="text-capitalize">Venue: <%= @event.venue %></h5>
</div>

<div class="col-md-4 mt-3">
	<h5 class="text-capitalize">Time: <%= @event.start_time %> to <%= @event.end_time %></h5>
</div>

<div class="col-md-4 mt-3">
	<h5 class="text-capitalize">Date: <%= @event.event_date %></h5>
</div>

<div class="col-md-4 mt-3">
	<h5 class="text-capitalize">Description:</h5>
	<p><%= @event.description %></p>
</div>

<%= link_to 'Back', events_path, :class => "btn btn-primary" %>
<% if current_user != nil %>
	<% if @event.user_id == current_user.id %>
		<%= link_to 'Update', edit_event_path, :class => "btn btn-primary" %>
		<%= link_to 'Delete', event_path(@event), :class => "btn btn-primary",
	 	method: :delete, data: {confirm: 'Are you sure?'} %>
	<% end %>
<% end %>

<hr />

<%= link_to 'View All Events', events_path %>
