<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css"
  integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
  crossorigin="anonymous">


  <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>


<% if request.path_info == '/' %>

<% else %>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #64a19d">

  <% if signed_in? %>
    <a class="navbar-brand" href="/dashboard" style="font-family: Courier New">EduCanDo</a>
  <% else %>
    <a class="navbar-brand" href="/" style="font-family: Courier New">EduCanDo</a>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if signed_in? -%>
        <li class="nav-item">
          <%= link_to "Welcome back, #{current_user.first_name}", user_path(current_user.id), :class => "nav-link"%>
        </li>
      <% elsif request.path_info == '/sign_up/student' || request.path_info == '/sign_up/staff' %>
        <li class="nav-item">
          <%= link_to t(".sign_in"), sign_in_path, :class => "nav-link" %>
        </li>
      <% elsif request.path_info == '/sign_in' %>
        <li class="nav-item">
          <%= link_to t(".sign_up_as_student"), sign_up_student_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_up_as_staff"), sign_up_staff_path, :class => "nav-link" %>
        </li>
      <% elsif request.path_info == '/passwords/new' %>
        <li class="nav-item">
          <%= link_to t(".sign_up_as_student"), sign_up_student_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_up_as_staff"), sign_up_staff_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_in"), sign_in_path, :class => "nav-link" %>
        </li>
      <% else -%>
        <li class="nav-item">
          <%= link_to t(".sign_up_as_student"), sign_up_student_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_up_as_staff"), sign_up_staff_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_in"), sign_in_path, :class => "nav-link" %>
        </li>  
      <% end -%>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
<!--         <li class="nav-item">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </li> -->
        <% if signed_in? -%>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
            </li> 
            <%= link_to t(".sign_out"), sign_out_path, method: :delete,    :class => "nav-link" %>
          </li>
        </ul>
      <% end %>
    </form>
  </div>
</nav>


<% end %>


    <!-- Flash messages -->
  <% flash.each do |key, value| %>
    <div class="container-fluid alert alert-info -<%= key %>">
      <div class="container">
        <%= value %>
      </div>
    </div>
  <% end %>
  <!-- End of Flash messages -->

  
  <%= yield %>


</body>
</html>
